.btn {
  border-width: 2px;
}
body {
  font-family: Lexend;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.4rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.25rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.72rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.38rem;
    font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #4361ee !important;
}
.bg-success {
  background-color: #131f2b !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary {
  background-color: #4361ee !important;
  background: linear-gradient(90deg, #4361ee 0%, #42ccfb 100%);
  border: none;
  transition: all 0.3s;
}
.btn-primary,
.btn-primary:active {
  background-color: #4361ee;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #1232c8;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1232c8;
}
.btn-primary:hover {
  transform: translateY(-3px);
}
.btn-secondary {
  background-color: #42ccfb !important;
  background: linear-gradient(90deg, #42ccfb 0%, #42ccfb 100%);
  border: none;
  transition: all 0.3s;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #42ccfb;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #05a9e2;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #05a9e2;
}
.btn-secondary:hover {
  transform: translateY(-3px);
}
.btn-info {
  background-color: #47b5ed !important;
  background: linear-gradient(90deg, #47b5ed 0%, #42ccfb 100%);
  border: none;
  transition: all 0.3s;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca;
}
.btn-info:hover {
  transform: translateY(-3px);
}
.btn-success {
  background-color: #131f2b !important;
  background: linear-gradient(90deg, #131f2b 0%, #42ccfb 100%);
  border: none;
  transition: all 0.3s;
}
.btn-success,
.btn-success:active {
  background-color: #131f2b;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #000000;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #000000;
}
.btn-success:hover {
  transform: translateY(-3px);
}
.btn-warning {
  background-color: #ffe161 !important;
  background: linear-gradient(90deg, #ffe161 0%, #42ccfb 100%);
  border: none;
  transition: all 0.3s;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161;
  color: #614f00 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a;
}
.btn-warning:hover {
  transform: translateY(-3px);
}
.btn-danger {
  background-color: #ff9966 !important;
  background: linear-gradient(90deg, #ff9966 0%, #42ccfb 100%);
  border: none;
  transition: all 0.3s;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f;
}
.btn-danger:hover {
  transform: translateY(-3px);
}
.btn-white {
  background-color: #fafafa !important;
  background: linear-gradient(90deg, #fafafa 0%, #42ccfb 100%);
  border: none;
  transition: all 0.3s;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa;
  color: #7a7a7a !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf;
}
.btn-white:hover {
  transform: translateY(-3px);
}
.btn-black {
  background-color: #232323 !important;
  background: linear-gradient(90deg, #232323 0%, #42ccfb 100%);
  border: none;
  transition: all 0.3s;
}
.btn-black,
.btn-black:active {
  background-color: #232323;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000;
}
.btn-black:hover {
  transform: translateY(-3px);
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #4361ee;
  color: #4361ee;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #1232c8 !important;
  background-color: transparent!important;
  border-color: #1232c8 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4361ee !important;
  border-color: #4361ee !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #42ccfb;
  color: #42ccfb;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #05a9e2 !important;
  background-color: transparent!important;
  border-color: #05a9e2 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #42ccfb !important;
  border-color: #42ccfb !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #131f2b;
  color: #131f2b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #131f2b !important;
  border-color: #131f2b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #4361ee !important;
}
.text-secondary {
  color: #42ccfb !important;
}
.text-success {
  color: #131f2b !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #112fba !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #049ed3 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #4361ee;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4361ee;
  border-color: #4361ee;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #4361ee;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fefeff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c0d2e3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #4361ee !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #4361ee;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4361ee;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #4361ee;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4361ee;
  border-bottom-color: #4361ee;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4361ee !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #42ccfb !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234361ee' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
html,
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 445px) {
  .container-banner {
    height: 11.5rem!important;
  }
}
.cid-sHrXDqEfAE {
  z-index: 1000;
  width: 100%;
}
.cid-sHrXDqEfAE nav.navbar {
  position: fixed;
}
.cid-sHrXDqEfAE .navbar-nav {
  margin: auto;
}
.cid-sHrXDqEfAE .dropdown-item {
  color: #000000 !important;
  border-bottom: 1px solid #e6e6e6;
}
.cid-sHrXDqEfAE .dropdown-item:hover,
.cid-sHrXDqEfAE .dropdown-item:focus {
  background: #4361ee !important;
  color: white !important;
}
.cid-sHrXDqEfAE .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sHrXDqEfAE .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sHrXDqEfAE .navbar-short,
.cid-sHrXDqEfAE .opened {
  background: #ffffff !important;
  opacity: 0.8;
  transition: all 0.3s;
}
.cid-sHrXDqEfAE .navbar-short .nav-link,
.cid-sHrXDqEfAE .opened .nav-link,
.cid-sHrXDqEfAE .navbar-short .navbar-caption,
.cid-sHrXDqEfAE .opened .navbar-caption,
.cid-sHrXDqEfAE .navbar-short .mbr-iconfont,
.cid-sHrXDqEfAE .opened .mbr-iconfont {
  color: #000000 !important;
}
.cid-sHrXDqEfAE .navbar-short .hamburger span,
.cid-sHrXDqEfAE .opened .hamburger span {
  background-color: #000000 !important;
}
.cid-sHrXDqEfAE .nav-link {
  transition: all 0.3s;
  position: relative;
}
.cid-sHrXDqEfAE .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sHrXDqEfAE .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sHrXDqEfAE .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sHrXDqEfAE .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sHrXDqEfAE .container {
  display: flex;
  margin: auto;
}
.cid-sHrXDqEfAE .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sHrXDqEfAE .dropdown-menu,
.cid-sHrXDqEfAE .navbar.opened {
  background: #ffffff !important;
}
.cid-sHrXDqEfAE .nav-item:focus,
.cid-sHrXDqEfAE .nav-link:focus {
  outline: none;
}
.cid-sHrXDqEfAE .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sHrXDqEfAE .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sHrXDqEfAE .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sHrXDqEfAE .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sHrXDqEfAE .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sHrXDqEfAE .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sHrXDqEfAE .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: rgba(255, 255, 255, 0);
}
.cid-sHrXDqEfAE .navbar.opened {
  transition: all 0.3s;
}
.cid-sHrXDqEfAE .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sHrXDqEfAE .navbar .navbar-logo img {
  width: auto;
}
.cid-sHrXDqEfAE .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sHrXDqEfAE .navbar.collapsed {
  justify-content: center;
}
.cid-sHrXDqEfAE .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sHrXDqEfAE .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sHrXDqEfAE .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sHrXDqEfAE .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sHrXDqEfAE .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sHrXDqEfAE .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sHrXDqEfAE .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sHrXDqEfAE .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sHrXDqEfAE .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sHrXDqEfAE .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sHrXDqEfAE .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sHrXDqEfAE .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sHrXDqEfAE .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sHrXDqEfAE .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sHrXDqEfAE .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sHrXDqEfAE .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sHrXDqEfAE .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sHrXDqEfAE .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sHrXDqEfAE .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sHrXDqEfAE .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sHrXDqEfAE .navbar.navbar-short {
  min-height: 60px;
}
.cid-sHrXDqEfAE .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sHrXDqEfAE .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sHrXDqEfAE .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sHrXDqEfAE .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sHrXDqEfAE .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sHrXDqEfAE .dropdown-item.active,
.cid-sHrXDqEfAE .dropdown-item:active {
  background-color: transparent;
}
.cid-sHrXDqEfAE .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sHrXDqEfAE .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sHrXDqEfAE .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sHrXDqEfAE .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sHrXDqEfAE .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sHrXDqEfAE .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sHrXDqEfAE ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sHrXDqEfAE .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sHrXDqEfAE button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sHrXDqEfAE button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sHrXDqEfAE button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sHrXDqEfAE button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sHrXDqEfAE button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sHrXDqEfAE button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sHrXDqEfAE nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sHrXDqEfAE nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sHrXDqEfAE nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sHrXDqEfAE nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sHrXDqEfAE .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sHrXDqEfAE a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sHrXDqEfAE .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sHrXDqEfAE .navbar {
    height: 70px;
  }
  .cid-sHrXDqEfAE .navbar.opened {
    height: auto;
  }
  .cid-sHrXDqEfAE .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sHrXFXlqE2 {
  padding-top: 8rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-sHrXFXlqE2 .mbr-overlay {
  backdrop-filter: blur(3.5px);
}
.cid-sHrXFXlqE2 .splash-img {
  transform: scale(2) translateX(-2rem);
  z-index: 0;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .cid-sHrXFXlqE2 .splash-img {
    transform: scale(1) translateX(0);
  }
}
.cid-sHrXFXlqE2 .ic-logo {
  height: 40px;
}
.cid-sHrXFXlqE2 .ic-logo-wrapper {
  display: flex;
  padding-left: 10px;
  padding-top: 48px;
}
@media (max-width: 767px) {
  .cid-sHrXFXlqE2 .ic-logo-wrapper {
    justify-content: center;
  }
}
.cid-sHrXFXlqE2 .underline-gradient {
  padding: 30px 0 8px;
  position: relative;
}
.cid-sHrXFXlqE2 .underline-gradient::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 16px;
  width: 100%;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: #fca532;
  z-index: -1;
}
.cid-sHrXFXlqE2 .card-wrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 3rem 3rem;
  margin: 0;
  z-index: 1;
  overflow: visible;
  position: relative;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-sHrXFXlqE2 .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-sHrXFXlqE2 .card-wrapper:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .cid-sHrXFXlqE2 .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sHrXFXlqE2 .col-12 {
  position: relative;
}
.cid-sHrXFXlqE2 .round {
  position: absolute;
  top: -60px;
  right: -150px;
  width: 280px;
  height: 280px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 2;
}
@media (max-width: 767px) {
  .cid-sHrXFXlqE2 .round {
    top: -30px;
    right: -110px;
    width: 180px;
    height: 180px;
  }
}
.cid-sHrXFXlqE2 .round:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 50%;
}
.cid-sHrXFXlqE2 .round2 {
  top: auto;
  right: auto;
  bottom: -30px;
  left: -30px;
  width: 120px;
  height: 120px;
  z-index: 0;
}
.cid-sHrXFXlqE2 .mbr-section-title {
  color: #131f2b;
}
.cid-sHrXFXlqE2 .mbr-text,
.cid-sHrXFXlqE2 .mbr-section-btn {
  color: #131f2b;
}
.cid-sHrXFXlqE2 .mbr-section-subtitle {
  color: #131f2b;
}
.cid-sHsEnG80SW {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-sHsEnG80SW .mbr-overlay {
  backdrop-filter: blur(3.5px);
}
.cid-sHsEnG80SW .card-wrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 4rem 3rem;
  margin: 0;
  overflow: visible;
  position: relative;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-sHsEnG80SW .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-sHsEnG80SW .card-wrapper:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 30px;
}
.cid-sHsEnG80SW .mbr-section-title {
  color: #263d5a;
  text-align: center;
}
.cid-sHsEnG80SW .mbr-text,
.cid-sHsEnG80SW .mbr-section-btn {
  color: #263d5a;
  text-align: center;
}
.cid-sHsEnG80SW .mbr-section-subtitle {
  text-align: center;
  color: #263d5a;
}
.cid-sHrY1sP9Wn {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sHrY1sP9Wn .mbr-iconfont {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: #820cfe;
  margin-bottom: 2rem;
  width: 115px;
  height: 115px;
}
.cid-sHrY1sP9Wn .card-wrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 3rem 3rem;
  margin: 0;
  overflow: visible;
  transition: all 0.3s;
  position: relative;
  justify-content: center;
}
@media (max-width: 1400px) {
  .cid-sHrY1sP9Wn .card-wrapper {
    padding: 3rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-sHrY1sP9Wn .card-wrapper {
    padding: 2rem 1rem;
  }
}
@media (max-width: 992px) {
  .cid-sHrY1sP9Wn .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sHrY1sP9Wn .card-wrapper:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 30px;
  pointer-events: none;
}
.cid-sHrY1sP9Wn .card-wrapper:hover {
  transform: translateY(-5px);
}
.cid-sHrY1sP9Wn .row {
  justify-content: center;
}
.cid-sHrY1sP9Wn .card-text {
  color: #263d5a;
}
.cid-sHrY1sP9Wn .card-title,
.cid-sHrY1sP9Wn .iconfont-wrapper {
  color: #263d5a;
}
.cid-sHrY1sP9Wn .mbr-section-subtitle {
  color: #263d5a;
}
.cid-sHrY1sP9Wn .mbr-section-title {
  color: #263d5a;
  text-align: center;
}
.cid-sHrZlTsBeN {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-sHrZlTsBeN .mbr-iconfont {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: #379eeb;
  margin-bottom: 2rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  border-radius: 50%;
  width: 115px;
  height: 115px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  overflow: visible;
}
.cid-sHrZlTsBeN .row {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 3rem 3rem;
  margin: 0;
  overflow: visible;
  position: relative;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-sHrZlTsBeN .row {
    padding: 2rem 1rem;
  }
}
.cid-sHrZlTsBeN .row:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 30px;
  pointer-events: none;
}
.cid-sHrZlTsBeN .card-wrapper {
  overflow: visible;
}
.cid-sHrZlTsBeN .card-text {
  color: #263d5a;
}
.cid-sHrZlTsBeN .card-title,
.cid-sHrZlTsBeN .iconfont-wrapper {
  color: #263d5a;
}
.cid-sHrZlTsBeN .mbr-section-subtitle {
  color: #263d5a;
  text-align: left;
}
.cid-sHrZlTsBeN .mbr-section-title {
  color: #263d5a;
}
@media (max-width: 992px) {
  .cid-sHrZlTsBeN .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sHsJyxaFlq {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-sHsJyxaFlq .mbr-iconfont {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: #379eeb;
  margin-bottom: 2rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  border-radius: 50%;
  width: 115px;
  height: 115px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  overflow: visible;
}
.cid-sHsJyxaFlq .row {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 3rem 3rem;
  margin: 0;
  overflow: visible;
  position: relative;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-sHsJyxaFlq .row {
    padding: 2rem 1rem;
  }
}
.cid-sHsJyxaFlq .row:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 30px;
  pointer-events: none;
}
.cid-sHsJyxaFlq .card-wrapper {
  overflow: visible;
}
.cid-sHsJyxaFlq .card-text {
  color: #263d5a;
}
.cid-sHsJyxaFlq .card-title,
.cid-sHsJyxaFlq .iconfont-wrapper {
  color: #263d5a;
}
.cid-sHsJyxaFlq .mbr-section-subtitle {
  color: #263d5a;
  text-align: left;
}
.cid-sHsJyxaFlq .mbr-section-title {
  color: #263d5a;
}
@media (max-width: 992px) {
  .cid-sHsJyxaFlq .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sHrYnDtG7G {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-sHrYnDtG7G .header-text {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-sHrYnDtG7G .row {
  max-width: 900px;
  margin: auto;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 4rem 3rem;
  overflow: visible;
  position: relative;
}
@media (max-width: 767px) {
  .cid-sHrYnDtG7G .row {
    padding: 2rem 1rem;
  }
}
.cid-sHrYnDtG7G .row:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 30px;
  pointer-events: none;
}
.cid-sHrYnDtG7G .card-header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 0px!important;
}
.cid-sHrYnDtG7G span {
  transform: rotate(45deg);
  transition: all 0.3s;
}
.cid-sHrYnDtG7G .collapsed span {
  transform: rotate(0deg);
}
.cid-sHrYnDtG7G .accordion-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-sHrYnDtG7G .panel-group {
  width: 100%;
}
.cid-sHrYnDtG7G .sign {
  color: currentColor;
  font-family: 'Moririse2' !important;
}
.cid-sHrYnDtG7G .card {
  border-radius: 0px;
}
.cid-sHrYnDtG7G .card .card-header {
  border-radius: 0px;
  padding: 0;
  background-color: transparent;
}
.cid-sHrYnDtG7G .card .card-header a.panel-title {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  transition: all .3s;
  margin-bottom: 0;
  font-style: normal;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none !important;
  line-height: normal;
}
.cid-sHrYnDtG7G .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-sHrYnDtG7G .card .card-header a.panel-title h4 {
  padding: 1.5rem 1rem 13px 0px;
  margin-bottom: 0;
}
.cid-sHrYnDtG7G .panel-text {
  color: #263d5a;
}
.cid-sHrYnDtG7G .header-text,
.cid-sHrYnDtG7G .sign {
  color: #263d5a;
  text-align: right;
}
.cid-sHrYnDtG7G .mbr-section-title {
  color: #263d5a;
  text-align: center;
}
.cid-sHrYnDtG7G .header-text,
.cid-sHrYnDtG7G .sign,
.cid-sHrYnDtG7G .card-header {
  color: #263d5a;
  text-align: left;
}
.cid-sHrYnDtG7G .mbr-section-subtitle {
  color: #263d5a;
}
.cid-sHK8fhqOum {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-sHK8fhqOum .my-auto {
  margin-top: 10px !important;
}
.cid-sHK8fhqOum .card-wrapper {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  padding: 4rem 3rem;
  margin: 0;
  z-index: 1;
  overflow: visible;
  position: relative;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-sHK8fhqOum .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-sHK8fhqOum .card-wrapper:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 30px;
}
.cid-sHK8fhqOum .image-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 58px;
}
.cid-sHK8fhqOum .ic-logo {
  width: 220px;
}
.cid-sHK8fhqOum .mbr-section-title {
  color: #263d5a;
}
.cid-sHK8fhqOum .mbr-text,
.cid-sHK8fhqOum .mbr-section-btn {
  color: #263d5a;
}
.cid-sHK8fhqOum .mbr-section-subtitle {
  color: #263d5a;
}
.cid-sHrYy0byS7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-sHrYy0byS7 .mbr-link {
  opacity: 0;
  color: #ffffff;
  transition: all 0.3s;
  text-align: center;
}
.cid-sHrYy0byS7 .item-wrapper {
  opacity: 0.9;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  border-radius: 30px;
  flex-flow: column nowrap;
  padding: 1rem;
}
.cid-sHrYy0byS7 .item-wrapper:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  z-index: 1;
  width: 100%;
  pointer-events: none;
  height: 100%;
  background: black;
  transition: all 0.3s;
  opacity: 0.1;
}
.cid-sHrYy0byS7 .item-wrapper:hover .item-content,
.cid-sHrYy0byS7 .item-wrapper:focus-within .item-content {
  opacity: 1;
  transform: translateY(0px);
}
.cid-sHrYy0byS7 .item-wrapper:hover .social-row,
.cid-sHrYy0byS7 .item-wrapper:focus-within .social-row {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sHrYy0byS7 .item-wrapper .item-content {
    opacity: 1;
    transform: translateY(0px);
  }
  .cid-sHrYy0byS7 .item-wrapper .item-img {
    transform: scale(1.1);
  }
  .cid-sHrYy0byS7 .item-wrapper:before {
    opacity: 0.2;
  }
  .cid-sHrYy0byS7 .item-wrapper .social-row {
    opacity: 1;
  }
}
.cid-sHrYy0byS7 .item-img {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.cid-sHrYy0byS7 .item-img img {
  object-fit: cover;
  height: 100%;
}
.cid-sHrYy0byS7 .item-content {
  z-index: 3;
  opacity: 1;
  transition: all 0.3s;
  position: relative;
  transform: translateY(50px);
}
.cid-sHrYy0byS7 .item:focus,
.cid-sHrYy0byS7 span:focus {
  outline: none;
}
.cid-sHrYy0byS7 .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-sHrYy0byS7 .mbr-section-title {
  color: #232323;
  text-align: center;
}
.cid-sHrYy0byS7 .mbr-text,
.cid-sHrYy0byS7 .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-sHrYy0byS7 .item-title {
  color: #ffffff;
  text-align: center;
}
.cid-sHrYy0byS7 .social-row {
  text-align: center;
  opacity: 0;
  transition: all 0.3s;
}
.cid-sHrYy0byS7 .social-row .soc-item {
  display: inline-block;
  text-align: center;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  padding: 0.5rem;
  background: #ffffff;
  transition: all 0.3s;
}
.cid-sHrYy0byS7 .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #000000;
  font-size: 1rem;
}
.cid-sHrZSbURdJ {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-sHrZSbURdJ .row-links {
  width: 100%;
  justify-content: center;
}
.cid-sHrZSbURdJ .social-row {
  width: 100%;
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-sHrZSbURdJ .align-left {
    text-align: center;
    padding-bottom: 1rem;
  }
}
.cid-sHrZSbURdJ .row {
  justify-content: center;
  align-items: center;
}
.cid-sHrZSbURdJ .row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-sHrZSbURdJ .row .foot-menu li {
  padding-left: 1.5rem;
}
.cid-sHrZSbURdJ .row .foot-menu li a {
  margin: 0;
}
@media (max-width: 992px) {
  .cid-sHrZSbURdJ .row .foot-menu {
    justify-content: center;
  }
}
.cid-sHrZSbURdJ .row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-sHrZSbURdJ .row .row-copirayt p {
  width: 100%;
}
.cid-sHrZSbURdJ .mbr-text {
  color: #263d5a;
  text-align: left;
}
.cid-sHrZSbURdJ .foot-menu-item {
  color: #263d5a;
  text-align: right;
}
